<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/headercat') %>

    <main>
        <div class = "profile">
        <img src = "../image/users/images/<%=user.imagen%>" width  ="220px">
        <br>
        <br>
        <br>
        <h1>Hola <%= user.nombreUsuario %> </h1>
        <H1>Email: <%= user.emailUsuario %></H1>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>